:root{
  --primary-color: #C5B3D3;
  --secondary-color: #FBEFEF;
  --btn-color: #7f2ebc;
  --rounded: 0.7rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body {
  width: 100%;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: var(--primary-color);
}
main{
    padding: 0.5rem;
    width: 100%;
    min-height: 100vh;
}
nav{
    background-color: var(--secondary-color);
    border-radius: var(--rounded);
    display: flex;
    justify-content: space-between;
    padding: 1rem ;
    align-items: center;
}
nav .logo{
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.8rem;
}
nav .logo img{
  width: 40px;
}
nav i{
    font-size: 1.8rem;
    cursor: pointer;
    transition: all ease-in-out 0.3s;
    padding: 0.5rem;
}
nav i:hover{
  transform: rotate(180deg);
}

/* Dashboard Section */
section{
  padding: 1rem 2rem;
}
.dashboard{
  min-height: 35vh;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-top: 1rem;
  border-radius: 1rem;
}
.hero-dsb{
  background-color: var(--secondary-color);
  border-radius: 2rem;  
  padding: 1rem;
  text-align: center;
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  /* background-image: url(https://www.shutterstock.com/shutterstock/videos/4000569385/thumb/1.jpg?ip=x480);
  background-size: cover; */
}
.feature-dsb{
  background-color: var(--secondary-color);
  border-radius: 2rem; 
  padding: 1rem; 
  flex: 1;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.feature-dsb img{
  width: 50px;
}

/* Card Section  */
.cards{
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.feature-card{
  flex: 1;
  background-color: var(--secondary-color);
  border-radius: var(--rounded);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  transition: all ease 0.3s;
}
.feature-card:hover{
  transform: translateY(-8px);
}
.feature-card button{
  padding: 0.5rem 2rem;
  border-radius: 1rem;
  background-color: black;
  font-weight: 700;
  color: white;
  border: none;
  cursor: pointer;
}
